<footer id="footer" *ngIf="message">
  <div class="container pt-4" style="text-align: center">
    <div class="company">
      <span>Trụ sở chính: 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, Đà Nẵng</span>
    </div>
    <div class="address-phone">
      Tel: <span class="tel">(+84) 1234 5678</span> - Fax: <span class="tel">(+84) 1234 1234</span> -
      Email: bvvn@codegym.com.vn
    </div>
    <div class="dmca">
      <span>Điều khoản sử dụng - Hỗ trợ khách hàng</span><br>
      <span>© C0920G1</span>
    </div>
  </div>
</footer>
